*{
    margin:  0;
    padding: 0;
}

body{
    background-color: #e5e5e5;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 80%;
    margin: 2em auto;
    background-color: #ffffff;
}

h1{
    background-color: crimson;
    font-size: 3em;
    padding: .65rem;
    color: yellow;
    border-radius: 0 0 .2rem .2rem;
    margin-bottom: 2rem;
}

main section{
    padding: 1rem;
}

.main-paragraph{
    font-weight: bold;
    margin-left: 1rem;
    color: #3d3d3d;
    margin-bottom: 1rem;
    padding: 1rem;
}

figure{
    margin-bottom: 2rem;
}

figure img{
    width: 100%;
}

figure figcaption{
    text-transform: uppercase;
    font-size: .950rem;
    font-weight: bold;
    color: #3d3d3d;
}

h2, h3{
    text-transform: uppercase;
    font-size: 1.7em;
    color: #3d3d3d;
    padding: .625rem;
}

h2 ~ p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 30px;
    text-indent: 2em;
    padding: .325rem;
}


h3{
    font-size: 1.2em;
}

ul{
    margin-left: 3em;
}

ul li{
    list-style-type: disclosure-closed;
    line-height: 30px;
    font-weight: 500;
}

@media (width <= 660px){
    main{
        width: 100svw;
        margin: 0;
    }
}

@media (width <= 376px){
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 1.5em;
    }
}